<div class="otp-component">
  <div class="send-otp">
    <div class="mobile">
      მობილურის ნომერი : <span class="number">{{user.personalData.phone}}</span>
    </div>
    <div class="send-btn" [ngClass]="{disabled: otpSent}">
      <span *ngIf="!otpSent && otpSendBtnShow"> Otp კოდის <a (click)="sendOtp()">გაგზავნა</a></span>
      <span *ngIf="otpSent && otpSendBtnShow"> Otp კოდი გაგზავნილია</span>
      <span *ngIf="!otpSendBtnShow"> Otp კოდი იგზავნება...</span>
    </div>
  </div>
  <div class="otp-code">
    <app-sms-request
      [valid]=" !(form.controls['otpCode'].invalid && form.controls['otpCode'].touched) "
      [loading]="otpSendLoading"
      [disabled]="!otpSent"
      (giveCode)="getSmsCode($event)"
      (clear)="clearSmsCode()"
    >
    </app-sms-request>
  </div>

  <div class="otp-submit">
    <button  mat-raised-button color="primary"
             [disabled]="form.invalid"
             (click)="confirmOperation()">
      დასრულება
    </button>
    <span class="error" *ngIf="error">{{error}}</span>
  </div>
  <div class="close" (click)="toggleOtpDialog()">
    <img src="../../../../assets/images/icons/close-grey.svg" alt="close icon">
  </div>
</div>
