<div class="container" *ngIf="messages">
  <div class="row" *userHasPermission="['All', 'Permissions.ReadMessage']">

    <section class="discussions">
      <div class="discussion search">
        <button mat-stroked-button color="primary" routerLink="create">
          <mat-icon>create</mat-icon> შექმნა
        </button>
        <button mat-stroked-button color="primary" (click)="openSearch()"><mat-icon>search</mat-icon>ძებნა</button>
      </div>

      <div
        class="discussion"
        *ngFor="let message of messages let i = index"
        (click)="fetchMessageThread(message, i)"
        [class.message-active]="selectedIndex === i"
      >
        <div class="photo">
          <mat-icon color="primary">chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">{{ message.isFromSystem ? "ოპერატორი" : "მომხმარებელი" }}: {{message.authorFullName}}</p>
          <p class="subject">თემა: {{message.subject}}</p>
          <p class="message">შეტყობინება: {{message.body}}</p>
        </div>
        <div class="timer">{{message.dateCreatedFormatted | date: "M/d/yy a"}}</div>
      </div>
    </section>

    <section class="chat" *ngIf="messagesThread">
      <div class="header-chat">
        <mat-icon>account_circle</mat-icon>
        <p class="name">{{messagesThread[0].authorFullName}}, {{messagesThread[0].personalNumber}}</p>
      </div>
      <div class="messages-chat">
        <div class="message" *ngFor="let messageThread of messagesThread">
          <div class="user-message" *ngIf="!messageThread.isFromSystem">
            <p class="text" [matTooltip]="messageThread.dateCreatedFormatted"> {{messageThread.body}} </p>
          </div>

          <div class="response" *ngIf="messageThread.isFromSystem">
            <p class="text" [matTooltip]="messageThread.dateCreatedFormatted"> {{messageThread.body}} </p>
          </div>
        </div>
      </div>
      <div class="footer-chat">
        <form>
          <button mat-icon-button color="primary">
            <mat-icon> attach_file</mat-icon>
          </button>
          <textarea placeholder="მაქსიმუმ 1500 სიმბოლო" maxlength="1500"></textarea>
          <button mat-icon-button color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
    </section>
  </div>
</div>
