.container {
  padding: 0;
  background-color: #FFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  overflow: hidden;

  .row {
    position: relative;
    display: flex;

    .discussions {
      background-color: #0061af;
      width: 35%;
      height: 600px;
      overflow-y: auto;
      display: inline-block;

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        cursor: unset !important;

        form {
          mat-form-field {
          }

          button {
            margin-left: 10px;
          }
        }

        &:hover {
          background-color: #FAFAFA !important;
        }
      }

      .discussion {
        width: 100%;
        height: 90px;
        background-color: #FAFAFA;
        border-bottom: solid 1px #E0E0E0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s all ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.88);
        }

        .photo {
          margin-left: 20px;
          width: 45px;
          height: 45px;
          background-color: #E6E7ED;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .desc-contact {
          width: 50%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .name {
          margin: 0 0 0 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 11pt;
          color: #515151;
        }

        .message {
          margin: 6px 0 0 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 9pt;
          color: #515151;
        }

        .subject {
          margin: 6px 0 0 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 9pt;
          color: #515151;
        }

        .timer {
          margin-left: 15%;
          font-family: 'Open Sans', sans-serif;
          font-size: 11px;
          padding: 3px 8px;
          color: #BBB;
          background-color: #FFF;
          border: 1px solid #E5E5E5;
          border-radius: 15px;
        }
      }

      .message-active {
        width: 98.5%;
        height: 90px;
        background-color: #FFF;
        border-bottom: solid 1px #E0E0E0;
      }
    }

    .discussions::-webkit-scrollbar {
      width: .4em;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .discussions::-webkit-scrollbar,
    .discussions::-webkit-scrollbar-thumb {
      overflow: hidden;
      border-radius: 4px;
      background-color: white;
    }

    .discussions::-webkit-scrollbar-thumb {
      background: rgb(201, 198, 198);
    }

    .chat {
      width: 65%;
      height: 600px;
      position: relative;

      .header-chat {
        background-color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.100);
        display: flex;
        align-items: center;

        mat-icon {
          margin-left: 30px;
          color: #515151;
          font-size: 15pt;
        }

        .name {
          margin: 0 0 0 10px;
          text-transform: uppercase;
          font-size: 13pt;
          color: #515151;
        }

      }

      .messages-chat {
        padding: 25px 35px;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - 173px);
        top: 93px;
        width: 100%;

        .message {
          display: grid;
          justify-items: stretch;
          margin-bottom: 8px;

          .photo {
            display: flex;
            width: 45px;
            height: 45px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            background-size: cover;
            background: #E6E7ED no-repeat center;

            mat-icon {
              margin: auto;
            }
          }
        }

        .text {
          background-color: #f6f6f6;
          padding: 15px;
          border-radius: 12px;
        }

        .user-message {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .response {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .text {
            background-color: #e3effd !important;
          }
        }
      }

      .messages-chat::-webkit-scrollbar {
        width: .4em;
        background-color: rgba(255, 255, 255, 0.1);
      }

      .messages-chat::-webkit-scrollbar,
      .messages-chat::-webkit-scrollbar-thumb {
        overflow: hidden;
        border-radius: 4px;
        background-color: white;
      }

      .messages-chat::-webkit-scrollbar-thumb {
        background: rgb(201, 198, 198);
      }

      .footer-chat {
        form {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          padding: 0 10px;
          position: absolute;
          bottom: 0;
          background-color: white;
          border-top: 2px solid #EEE;

          textarea {
            border: none !important;
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
            resize: none;
            outline: none;
          }
        }
      }

    }
  }
}

