<div class="container">
  <div class="row">

    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search...">
        </div>
      </div>

      <div class="discussion">
        <div class="photo">
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Megan Leib</p>
          <p class="message">9 pm at the bar if possible 😳</p>
        </div>
        <div class="timer">12 sec</div>
      </div>

      <div class="discussion message-active">
        <div class="photo" >
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Dave Corlew</p>
          <p class="message">Let's meet for a coffee or something today ?</p>
        </div>
        <div class="timer">3 min</div>
      </div>

      <div class="discussion">
        <div class="photo">
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Jerome Seiber</p>
          <p class="message">I've sent you the annual report</p>
        </div>
        <div class="timer">42 min</div>
      </div>

      <div class="discussion">
        <div class="photo">
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Thomas Dbtn</p>
          <p class="message">See you tomorrow ! 🙂</p>
        </div>
        <div class="timer">2 hour</div>
      </div>

      <div class="discussion">
        <div class="photo">
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Elsie Amador</p>
          <p class="message">What the f**k is going on ?</p>
        </div>
        <div class="timer">1 day</div>
      </div>

      <div class="discussion">
        <div class="photo" >
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Billy Southard</p>
          <p class="message">Ahahah 😂</p>
        </div>
        <div class="timer">4 days</div>
      </div>

      <div class="discussion">
        <div class="photo" >
          <mat-icon color="primary"> chat</mat-icon>
        </div>
        <div class="desc-contact">
          <p class="name">Billy Southard</p>
          <p class="message">Ahahah 😂</p>
        </div>
        <div class="timer">4 days</div>
      </div>

    </section>
  </div>
</div>
