.container {
  .content {
    form {
      padding: 20px 0;

      .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
      }

      mat-form-field {
        width: 100%;
        textarea {
          resize: none;
        }
      }
    }
  }
}
