<div class="container">
  <h1 mat-dialog-title>{{data.firstName}} {{data.lastName}}</h1>
  <div mat-dialog-content>
    <p>ახლანდელი როლი: {{data.role}}</p>
    <mat-form-field appearance="outline">
      <mat-label>აირჩიეთ როლი</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let role of data.roles" [value]="role.id">
          {{role.alias}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-button color="warn" (click)="onNoClick()">უარყოფა</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="selectedValue" cdkFocusInitial>დადასტურება</button>
  </div>

</div>
