<mat-tab-group mat-align-tabs="center">
  <mat-tab label="როლები">
    <ng-template matTabContent>
      <app-role-permissions></app-role-permissions>
    </ng-template>
  </mat-tab>
  <mat-tab label="ახალი ადმინის რეგისტრაცია">
    <ng-template matTabContent>
      <app-register-admin></app-register-admin>
    </ng-template>
  </mat-tab>
  <mat-tab label="ადმინზე როლის მიბმა">
    <ng-template matTabContent>
      <app-add-role-to-admin></app-add-role-to-admin>
    </ng-template>
  </mat-tab>
</mat-tab-group>
